/*
* Author Jesus Caballero
* Custom CSS 04/2020
*/


/* Catamaran fuente titulos */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500;600;700;800&family=Roboto:wght@300;500&display=swap');

*{
    color:#1f2532;
    font-family: 'Roboto', sans-serif;
}
body{
    font-weight: 300;
}
html {
    font-size: 14px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Catamaran', sans-serif;
}

h1, .h1{
    font-weight: 800;
    font-size: 2.2rem!important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}
.border-inweb{
    border: 3px solid #ff004e;
}

.form-control {
    font-weight: 300;
}
.question-i{
    font-weight: 300;
}
.text-marca{
    color: #ff004e;
}
.tooltip{
    font-weight: 300;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f90f4e;
    background-color: #f90f4e;
}

#footer-info {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    font-size: .75rem;
    float: right;
}
#footer-info, #footer-info a {
    color: #c1c1c1;
}